<!DOCTYPE html>
<html>
    <head>
        <title>读取数据</title>
    </head>
    <body>
        <form action="/readAll">
            <button type="submit" onclick="onReadAll()">查询</button>
        </form>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript">
        function onReadAll() {
            var table = document.getElementById('query-result');
            var id = document.getElementById('userid').value;
            
            axios.get('http://localhost:4000/readAll')
            .then(function(res){  
                var text = res.data   // [{}, {}]json格式
                window.alert(text);
                var table_str = "<caption>查询结果</caption><thead><tr><td>用户姓名</td><td>用户编号</td><td>用电量</td></tr></thead><tbody>";
                for (var key in text){
                    
                    var item = text[key];
                    var row_str = '<tr>';
                    for (var i in item){
                        row_str += '<td>' + item[i] + '</td>';
                    }
                    row_str += '</tr>';
                    table_str += row_str;
                }
                table_str += '</tbody>';
                document.getElementById("query-result").innerHTML = table_str;           
            })
        }
        </script>
    </body>
</html>